# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python code
- Markdown
- R
- Julia
- Excel

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. GGPLOT
3. Matplotlib

| Data Science Tools |
|--------------------|
| Tableau |
| Power BI |
| Excel |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
min = 200
hours = min/60
#This will convert 200 minutes to hours by diving by 60
hours

3.3333333333333335

## Author
 Lucky Jindal